*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background: url('img/fond.jpg')
}

.contenedor{
    width: 700px;
    min-height: 500px;
    background-color: #fdefd4;
    padding: 40px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    
}

h1{
    font-size: 50px;
    font-weight: bold;
}

input{
    width: 80%;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    border: 4px solid black;
    border-radius: 10px;
}

button{
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
}

#lista-de-tareas{
    margin-top: 20px;
    width: 80%;
}

.tarea{
    width: 100%;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarea.completada{
    text-decoration: line-through;
    color: gray;
    border: none;
}

.tarea p{
    max-width: 350px;
}

i {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.icono-completar{
    color: green;
}
.icono-eliminar{
    color: red;
}
.icono-completar:hover{
    color: darkgreen;
}
.icono-eliminar:hover{
    color: darkred;
}